{% extends "base.html" %}
{% load i18n static %}

{% block content %}

    <h1>Decide</h1>

    <h2>{{ voting.id }} - {{ voting.name }}</h2>

    {% if not voting.start_date %}
        <h3>{% trans 'Votación no comenzada' %}</h3>
    {% elif not voting.end_date %}
        <h3>{% trans 'Votación abierta' %}</h3>
    {% else %}
        <h3>{% trans 'Resultados: ' %}</h3>
        <ul>
            {% for option in voting.postproc %}
                <li>{{option.option}}: {{option.postproc}} <span>({{option.votes}})</span></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}