*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.container
{
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error
{
    text.align: center;
    color: red;
}