{% load static %}
{% load admin_urls %}
{% load i18n %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <link rel="shortcut icon" href="decidelogo" type="image/x-icon">
        <link rel="stylesheet" href="{% static '/estilo.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>{% block title %}Decide!{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        
        <footer>
            <div class="footer-content">
                <h3>Decide</h3>
                <p>Plataforma de voto online</p>
            </div>
        </footer>

        {% block extrabody %}{% endblock %}
    </body>
</html>
