<html>
<head>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" type="text/css" href="{% static 'index/error.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index/menu.css' %}">
    <title>DECIDE FULL GUADALFEO</title>
</head>
<body>
    {% include "index/menu.html" %}

    <div class="container">
        <h2>Error: </h2>
        <h3 id="error">{{ error }}</h3>
        <a href="/" style="margin-top: 20px">Return to main web page!</a>
    </div>

</body>