


	<div>
	<h3>{% trans "Log in with Google"%}</h3><a href="https://accounts.google.com/signin/oauth?client_id=150285852294-dth6aoumllndds0h9fdfjt8dd5rcieeu.apps.googleusercontent.com
&as=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=http://localhost:8000&approval_state=!ChRmSmJoXzFBTGpRVmUxTWF0ZXhFdxIfazdRVEdzWGVaYkFaUUhVU2RlLXNqMHdyTmhQZGVSWQ%E2%88%99APNbktkAAAAAXBEkwGfnjHdZJHm7Spd9NS2jujltYATo&oauthgdpr=1&xsrfsig=AHgIfE8mb8oaNe8w90CvpDhVcP6GBYkr6w"><img src="{% static 'google.jpg'%}" width="7%"></a> <br>
	</div>
