.voting {
    margin-top: 20px;
    margin-left: 40px;
}
body.dark{
    background: #262626;
    color: white;
}
body.dark.tr{
    color: white;
}
.switch ul{ 
    position: absolute;
    top:  12.5px;
    right: 20px;
    margin: auto;
    padding: 0;
    width: 100px;
    height: 30px;
    z-index: 1;
    border: 2px solid #FFF;
    cursor: pointer;
    background-color: black;
    overflow: hidden;
    border-radius: 10px;
}
.switch ul li { 
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.25s;
}

.switch ul.active  li {
    transform: translateY(-30px);
 }
 
 .switch ul li span{ 
     display: block;
     height: 30px;
     line-height: 30px;
     color: white;
     width: 100%;
 }
 
 .switch ul li span:nth-child(2){
     background: white;
     color: #000;
 }
 .btn3 {
    margin-left: 20px;
}
button.dark{
    color:white;
}
 .navbar.navbar-dark.bg-secondary{
    background-color: #A9A9A9!important;
}
tr:hover {background-color: #f5f5f5;}


div.navbar-div{

    width: 100%;
    height: 120px;
    background: linear-gradient(#325894,#8c98aa);
    position: relative;

}

h1.decide-h1{
    font-size:40px;
    font-family: Verdana, sans-serif;
    color:rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    

}

a.logout{
    
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:rgb(255, 255, 255);
    vertical-align: bottom;
    float:right;
    padding-right: 15px;
    font-weight: bold;
    transition-duration: 0.4s;
}
a.logout:hover{
    color:#243f69;
}

h1.titulo-h1{
    color: #243f69;
    font-family: Verdana, sans-serif;
    font-size: 40px;
    padding-left:30px;
}

h2.pregunta-h2{
    color: #243f69;
    font-family: Verdana, sans-serif;
    padding-left:50px;
}
div.radio-div{
    display: block;
    line-height : 40px;
    margin: 10px;  
}

label.opt-label{
    display: inline-block;
    background: linear-gradient(to right, #325894,#8c98aa);
    border-radius:20px;
    color:rgb(255, 255, 255);
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height : 40px;
    padding: 15px;
    transition-duration: 0.4s;
}

label.opt-label:hover{
    background: linear-gradient(to right, #325894ab,#8c98aaab);
    color: #243f69;
}
button.button-submit{
    background: #243f69;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    left: 20px;
    transition-duration: 0.4s;
}
button.button-submit:hover{
    background: #ffffff;
    color: #243f69;
}

button.button-alert{
    background: #243f69;
    font-family: Verdana, sans-serif;
    color: #ffffff;
    transition-duration: 0.3s;
    font-size: 20px;
    margin-right: 10px;
}

button.button-alert:hover{
    background: #ffffff;
    color: #243f69;
}

div.alert-div{
    border-style: solid;
    border-color: #243f69;
    font-family: Verdana, sans-serif;
    color:#243f69;
    display: inline-block;
    font-size: 20px;
    padding-right: 10px;
}

label.username-label{
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:#243f69;
    margin-left: 25px;
}

input.username-input{
    display:block;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:#ffffff;
    background: #243e6991;
    margin-left: 25px;
}


label.password-label{
    display:block;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:#243f69;
    margin-left: 25px;
}

input.password-input{
    display:block;
    font-size: 20px;
    font-family: Verdana, sans-serif;
    color:#ffffff;
    background: #243e6991;
    margin-left: 25px;
    margin-bottom: 25px;
}